.in-game-session {
    text-align: center;
}

.game-area {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    margin: auto;
    border: 2px solid #333;
}

.snake {
    position: absolute;
    font-size: 20px;
}

.game-grid span {
    font-size: 18px;
    margin: 5px;
}

.other-player {
    opacity: 0.7; /* Andere Spieler leicht transparent darstellen */
}