/* Button Styles */
.dashboard-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.homepage-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    font-size: 26px;
    width: 100%;
  }
  

.homepage-buttons button{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 10px;
    width: 100%;
}
/*------------------------------------------------------------------------------*/
.skill-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;    
    
}

.skill-buttons button {
    background: none;
}

/*------------------------------------------------------------------------------*/

.snake-button{
    color: #b6fb61;
    color: var(--color);
    margin-top: 35px;
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 22px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
  }
  
  .snake-button:hover,
  .snake-button:focus-visible {
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: .05em;
  }
  .snake-button:active {
      background: var(--color);
      color: #fff;
  }

.snake-button:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.snake-button.cobra {
    color: #e9066c;
    padding: 25px;
    border-radius: 5%;
}

.snake-button.python {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    color: #16f0f7;
    border-radius: 5%;
}

.snake-button.rattlesnake {
    color: #16f0f7;
    border-radius: 5%;
}

.snake-button.login-logout-button {
    color: #ec1b5d;
    border-radius: 5%;
}

/* Common styles for skill buttons */
.skill-btn {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.42);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: #000000;
    transition: 0.2s;
}

.skill-btn:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.skill-btn:hover:after {
    top: 0px;
    left: 0px;
}



/* Specific styles for each button */
.skill-add-btn {
    transform: rotate(-1deg);
    margin-bottom: 30px;
    animation: glitch 6s infinite; 
}

.skill-add-btn:after {
    background-color: #20d138;
}

.skill-subtract-btn {
    transform: rotate(1deg);
    animation: glitch 5s infinite; 
}

.skill-subtract-btn:after {
    background-color: #ffff4c;
}

.skill-multiply-btn {
    transform: rotate(-1deg);
    margin-top: 30px;
    animation: glitch 4s infinite; 
}

.skill-multiply-btn:after {
    background-color: #5cfffa;
}

.glitch {
    animation: glitch 1s infinite;
}

/*---------------------------------------------GLITCH---------------------------------*/

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-10px, -5px);
        filter: contrast(1) brightness(1);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(5px, 5px);
        filter: contrast(1.5) brightness(1.5);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-5px, 5px);
        filter: contrast(2) brightness(0.5);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 2.5px);
        filter: contrast(0.5) brightness(2);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-2.5px, 0px);
        filter: grayscale(80%);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(2.5px, 0px);
        filter: grayscale(100%);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(2.5px, 5px);
        filter: hue-rotate(60deg);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 5px);
        filter: grayscale(60%);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(10px, -5px);
        filter: grayscale(40%);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-5px, 0px);
        filter: grayscale(20%);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
        filter: grayscale(0%);
    }
}

@media (min-width: 768px) {
    .skill-btn {
        padding: 13px 50px 13px;
    }
}