/* General Styles */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: auto;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #43a047;
  background-color: #1e1e1e;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1{
  font-size: 3rem;
  color: rgb(48, 239, 147);
}

.game-session-page canvas {
  position: relative; /* Ensure it has a lower stacking context */
  z-index: 0; /* Lower z-index than the virtual joystick */
}
.virtual-joystick {
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 1005;
}
/*------------------------------------------------------------------------------*/

.homepage-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo{

  width: 300px;
  margin: "10px auto";
  display: "block"

}

.homepage-title{

  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 55%;
  background: transparent;
  padding-bottom: 50px;

}

.glitch {
  color: #b6fb61;
  position: relative;
  font-size: 9vw;
  /* // margin: 70px 200px; */
  animation: glitch 8s 8s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 7s 6.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}


.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
  color: #b6fb61;
  margin-bottom: 80px;

}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}
/*------------------------------------------------------------------------------*/

 /*Main wrapper styles*/
.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  height: 80vh;
  width: 100%;
  margin: auto;
  color: #fff;
}

.app-logo{
  /* animation: glitch 0.8s infinite; */

}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
}


/*------------------------------------------------------------------------------*/

/* Profile Page Styles */
.profile-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 80%;
  height: auto;
  margin: auto;
}

.profile-page .delete-account-btn {
  color: #e9066c;
}

.profile-page h1 {

  font-size: 2em;
  color: #30ef93;
  text-shadow: 4px 4px 4px rgb(43, 43, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
}

.profile-page p {
  font-size: 1.2em;
  width: 65%;
  color: rgb(219, 219, 219);
  text-shadow: 4px 4px 4px rgb(43, 43, 44);
  display: flex;
  align-items:flex-start;
  text-align: left;
  justify-content: flex-start;
  grid-column: 1 / -1;
  padding-bottom: 30px;
}


.profile-field-username button{

  margin-left: 224px;
  font-size: 18px;
}

.profile-field-email button{
  margin-left: 80px;
  font-size: 18px;
}

.profile-page form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
}

.profile-page form label {
  font-size: 18px;
  color: #30ef93;

}

.profile-page form input {
  border-radius: 10px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 35px;
  background-color: #ffffffd1;
  color: #f0f8ff;
  font-size: 14px;
  border: none;
  margin-right: 20px;
}

.profile-field-username, .profile-field-email {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  color: rgb(211, 209, 212);
  width: 100%;
  padding: 15px;
  justify-items: start;
  border: 1px solid #ccc;
}

.profile-field-username label, .profile-field-email label {
  font-size: 1.2rem;

  color: #30ef93;
}

.profile-field-email span, .profile-field-username span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 20px;
  
}

.profile-field-username span {
  width: 100%;
  text-align: center;
}

.profile-field input {
  height: 30px;
  font-size: 1rem;
  border-radius: 20px;
  padding-left: 15px;
}

.profile-password {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.profile-password button {
  color: #14bcf5;
}

/*------------------------------------------------------------------------------*/

/* Register Page Styles*/

.register-page {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-page input{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin:  20px auto 20px auto;
  border-radius: 20px;
  width: 60%;
  height: 60px;
  font-size: 14px;
}

/*------------------------------------------------------------------------------*/

/* Game Over Page Styles*/

.game-over-page {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  font-size: 20px;
  color: rgb(48, 239, 147);
}

.game-over-buttons button{
  margin-right: 30px;
}

/*------------------------------------------------------------------------------*/

/* Instruction Page Styles*/

.instructions-page {
  font-family: 'Arial', sans-serif;
  text-align: left;
  background: linear-gradient(135deg, #1e1e2f, #16f0f7);
  color: #f5f5f5;
  margin: 400px auto 220px auto;
  max-width: 100vh;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.instructions-page div{
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.instructions-page h1{
  font-size: 1.5rem;
  text-align: center;

  color: #30ef93;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.instructions-page h2 {
  display: flex;
  align-items: center;
  color: rgb(48, 239, 147);
  margin-right: 40px;
  justify-content: center;
}

.instructions-page p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  line-height: 1.6;
  padding: 30px;
}

.instructions-page ol {
  list-style: decimal inside;
  margin-left: 20px;
  line-height: 1.8;
}

.instructions-page li {
  margin-bottom: 10px;
}

.instructions-page b {
  color: rgb(48, 239, 147);
}

/*------------------------------------------------------------------------------*/

/* Leaderboard Page Styles */
.leaderboard-page {
  text-align: center;
  color: #00ff9d; /* Bright green for text */
  font-family: Arial, sans-serif;
  margin-top: 150px;
}


.dashboard-btn-leaderboard button{
  width: 20%;
  font-size: 20px;
  align-items: center;
}

.leaderboard-page h1 {
  font-size: 2.5rem;
  color: #00ff9d; /* Bright green title */
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 50px;

}

.leaderboard-filters{
  display: flex;
  flex-direction: row;
  width: auto;
  font-size: 22px;
}

/* Filter Section Styles */
.leaderboard-page div {
  justify-content: center;
  align-items: center;
  color: #16f0f7; /* Bright green text */
}

.leaderboard-page label {
  margin-right: 10px;
}

.leaderboard-page select,
.leaderboard-page input {
  padding: 5px 10px;
  font-size: 1rem;
  color: #00ff9d;
  background-color: #111; /* Dark background */
  border: 1px solid #00ff9d; /* Green border */
  border-radius: 5px;
  width: auto;
}

.leaderboard-page select:focus,
.leaderboard-page input:focus {
  outline: none;
  box-shadow: 0 0 5px #00ff9d; /* Glow effect on focus */
}

.leaderboard-page input {
  margin-left: 5px;
  font-size: 18px;
}


/* Leaderboard Table Styles */
.leaderboard-page table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  color: #00ff9d; /* Bright green for text */
  font-size: 1rem;
}

.leaderboard-page table th,
.leaderboard-page table td {
  padding: 10px;
  font-size: 22px;
  border: 1px solid #00ff9d; /* Green border for table cells */
}

.leaderboard-page table th {
  background-color: #222; /* Dark header background */
  color: #16f0f7; /* Bright green text */
  font-weight: bold;
  text-transform: uppercase;
}

.leaderboard-page table tbody tr:nth-child(odd) {
  background-color: #111; /* Darker rows */
}

.leaderboard-page table tbody tr:nth-child(even) {
  background-color: #333; /* Lighter rows */
}

.leaderboard-page table tbody tr:hover {
  background-color: #444; /* Highlight on hover */
  color: #ffffff; /* White text on hover */
}

/*------------------------------------------------------------------------------*/

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #30ef93;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #30ef93;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #b6fb61,
      -0.05em -0.05em 0 #30ef93;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #b6fb61,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #b6fb61,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
/*---------------------------------------------------------------------------------*/

/* Tablets (portrait and landscape) */
@media (min-width: 601px) and (max-width: 1024px) {

  .app-wrapper {
    flex-direction: column;
  }

  .homepage-title{
    top: 30%;
    left: 50%;

  }

  .homepage-title .glitch {
    font-size: 50px;
  }
  .app-wrapper .homepage-buttons{
      margin-top: 20px;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  .app-logo{
      width: 120px;
      margin-top: 80px;

    }

  .game-session-page h1{
      font-size: 30px;
    }

  .app-wrapper .homepage-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top: 0;

  }

  .app-wrapper .just-play .snake-button{
    margin-top: 0;
    margin-bottom: 20px;
  }

  .snake-button {
    font-size: 20px;
    padding: 12px;
  }

  .app-wrapper .register-page {
    flex-direction: column;
  }
  .register-page h1{
    font-size: 24px;
    margin-top: 20px;
  }

  .register-page h3{
    font-size: 14px;
  }

  .register-page button{
    font-size: 14px;
  }

  .register-page.img {
    margin-top: 200px;
  }

  .app-wrapper .login-page h1{
    font-size: 20px;
  }
  .app-wrapper .login-page input{
    font-size: 14px;
    height: 40px;
  }

  .app-wrapper .login-page button{
    font-size: 14px;
  }

  .app-wrapper .snake-button.python{
    font-size: 18px;
    padding: 20px;
  }

  .app-wrapper .snake-button.login-logout-button{
    font-size: 18px;
    padding: 20px;
  }

  .app-wrapper .game-session-page .skill-buttons button{
    font-size: 14px;
    padding: 12px;
    width: 60%;
    margin: 20px auto 10px auto;
  }


  .app-wrapper .snake-button.cobra{
    font-size: 14px;
    padding: 20px;
  }

  .profile-page {
    width: 90%;
    padding: 15px;
  }

  .profile-page h1 {
    font-size: 1.8em;
  }

  .profile-page p {
    font-size: 1.1em;
  }

  .profile-page form {
    grid-template-columns: 1fr 1fr;
  }

  .profile-field-username,
  .profile-field-email {
    grid-template-columns: 1fr 1fr;
  }

  .profile-field-username button,
  .profile-field-email button {
    margin-left: 10px;
  }

  .leaderboard-page table {
    font-size: 0.9rem;
  }

  .leaderboard-page table th,
  .leaderboard-page table td {
    padding: 8px;
  }
}